
header {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
  }
  
  footer {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
  }
  
  main {
    padding: 20px;
  }
  
  .content-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .content-item {
    flex: 1;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
  
  button {
    display: block;
    margin: 20px 0;
  }
  